body {
    font-family: "Questrial", sans-serif;
    background-color: white;
    text-align: center;
}

.wrap {
    min-width: 15em;
    max-width: 25em;
    text-align: left;
    margin: 1.5em auto auto auto;
}
@media screen and (min-width: 50em) {
    .wrap {
        min-width: 35em;
        max-width: 50em;
    }
}

img {
    padding-left: 1em;
    float: right;
}

header h1 {
    border-bottom: solid thin #BBBBBB;
    margin-bottom: 5px;
    font-variant: small-caps;
}

footer {
    text-align: center;
    font-size: smaller;
    line-height: 5px;
}

header p {
    font-style: italic;
    font-size: large;
    color: #A1ACB2;
    margin-top: 5px;
}

section {
    background-color: #E0E0E0;
}

.content h2 {
    padding-top: 5px;
    margin-bottom: 10px;
    border-bottom: dashed thin black;
    background-color: #C4D2E0;
}

section ul {
    list-style-type: none;
}

section p {
    padding-left: 1em;
}

section p,li {
    margin-top: 0;
    padding-right: 1em;
    margin-bottom: 10px;
    line-height: 1.25em;
}

a {
    text-decoration: none;
    color: #005C99;
}

a:hover {
    color: #BD4646;
}
